<div class="auth-container">
  <div class="sanbella-card">
    <h2>Bienvenido a Sanbella</h2>
    <p class="subtitle">Ingresa tus credenciales para continuar</p>

    <form class="login-form" (ngSubmit)="onLogin()">
      <div class="form-group">
        <label>Correo Electrónico</label>
        <input type="email" name="email" [(ngModel)]="emailIngresado" class="input-sanbella" placeholder="correo@sanbella.com" required>
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <div class="password-container">
          <input [type]="verPassword ? 'text' : 'password'" 
                 name="password" 
                 [(ngModel)]="passwordIngresado" 
                 class="input-sanbella" 
                 placeholder="********" 
                 required>
          <button type="button" class="btn-eye" (click)="verPassword = !verPassword">
            <i class="bi" [ngClass]="verPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
          </button>
        </div>
      </div>

      <div class="forgot-password">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>

      <button type="submit" class="btn-sanbella">
        INICIAR SESIÓN
      </button>
    </form>

    <p class="register-link" style="margin-top: 25px;">
      ¿Aún no tienes cuenta? 
      <a routerLink="/register" class="link-sanbella">Regístrate gratis</a>
    </p>
  </div>
</div>