<div class="servicios-page fade-in">
  <div class="header-section">
    <h2>Nuestros Servicios</h2>
    <div class="divider"></div>
  </div>

  <div class="servicios-grid">
    <div class="service-card" *ngFor="let s of servicios">
      <div class="image-wrapper">
        <img [src]="s.img" [alt]="s.title">
      </div>
      
      <div class="card-content">
        <h3>{{ s.title }}</h3>
        <p>{{ s.desc }}</p>
        
        <div class="card-footer">
          <div class="price-container">
            <span style="font-size: 0.8rem; display: block; color: #999;">Desde</span>
            <span class="price">S/ {{ s.price }}</span>
          </div>
          <button class="btn-sanbella btn-reserve" (click)="reservarServicio(s)">
            Reservar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>