<nav class="navbar-shell">
  <a routerLink="/" class="logo">Sanbella</a>

  <button class="hamburger" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <div class="menu" [class.active]="isMenuOpen">
    <a routerLink="/inicio" routerLinkActive="active" (click)="isMenuOpen = false">Inicio</a>
    <a routerLink="/servicios" routerLinkActive="active" (click)="isMenuOpen = false">Servicios</a>
    <a routerLink="/mis-citas" routerLinkActive="active" (click)="isMenuOpen = false">Mis Citas</a>
    <a routerLink="/panel-admin" routerLinkActive="active" (click)="isMenuOpen = false">Administrador</a>
    <button routerLink="/citas" class="btn-sanbella" (click)="isMenuOpen = false">Reservar</button>
    <button routerLink="/login" class="btn-sanbella" (click)="isMenuOpen = false">Iniciar Sesión</button>
    </div>
</nav>