<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-brand">
    <button class="hamburger-btn" (click)="toggleSidebar()">
      ☰
    </button>
    <img src="assets/inicio/Sanbella.png" class="logo-img" alt="logo">
    <span class="brand-name">SANBELLA SAC</span>
  </div>
    

    <nav class="sidebar-nav">
        <ul>
            @for (option of menuOptions;track option.label){
            <li>
                <a [routerLink]="option.route" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                    <img [src]="option.icon" [alt]="option.label" class="sidebar-icon">
                    <span class="label">{{option.label}}</span>
                </a>
            </li>
            }
            </ul>
    </nav>
</aside>