<div class="sanbella-booking">
  <main class="booking-content">
    <header class="step-header">
      <p class="step-tag">MI HISTORIAL</p>
      <h1 class="main-title">Mis Citas</h1>
    </header>

    <div class="appointments-grid fade-in">
     @for (cita of userAppointments; track cita.id) {
        <div class="appointment-card">
          <span class="status-badge" [class]="cita.status.toLowerCase()">
            {{ cita.status }}
          </span>

          <div class="appointment-body">
            <div class="appointment-main-info">
              <div class="info-text">
                <h3>{{ cita.serviceName }}</h3>
                <p class="price-tag"><strong>{{ cita.price }}</strong></p>
              </div>
            </div>

            <div class="appointment-details-box">
              <div class="item-summary">
                <label>ESPECIALISTA</label>
                <div class="summary-info-box">
                  <strong>{{ cita.specialistName }}</strong>
                  <span>{{ cita.specialistRole }}</span>
                </div>
              </div>

              <div class="item-summary">
                <label>FECHA Y HORA</label>
                <div class="summary-info-box">
                  <strong>{{ cita.date }}</strong>
                  <span>{{ cita.time }}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="appointment-footer">
            <button class="btn-details-premium">DETALLES</button>
            
            @if (cita.status === 'Pendiente') {
              <button class="btn-cancel" (click)="cancelarCita(cita.id)">CANCELAR</button>
            }
          </div>
        </div>
      }
    </div>
  </main>
</div>