<div class="register-container">
  <div class="register-card">
    <h2>Únete a Sanbella</h2>
    <p class="subtitle">Regístrate para gestionar tus citas estéticas</p>

    <form class="form-grid">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="input-sanbella" placeholder="Ej. Marco">
      </div>
      <div class="form-group">
        <label>Apellido</label>
        <input type="text" class="input-sanbella" placeholder="Ej. Arroyo">
      </div>

      <div class="form-group full-width">
        <label>Correo Electrónico</label>
        <input type="email" class="input-sanbella" placeholder="correo@sanbella.com">
      </div>

      <div class="form-group full-width">
        <label>Teléfono de contacto</label>
        <input type="tel" class="input-sanbella" placeholder="999 999 999">
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" class="input-sanbella" placeholder="********">
      </div>
      <div class="form-group">
        <label>Confirmar</label>
        <input type="password" class="input-sanbella" placeholder="********">
      </div>

      <button type="submit" class="btn-sanbella full-width">
        CREAR MI CUENTA
      </button>
    </form>

    <p class="login-link" style="margin-top: 25px;">
      ¿Ya eres parte de la familia? 
      <a routerLink="/login" class="link-sanbella">Inicia sesión</a>
    </p>
  </div>
</div>