<div class="welcome-container">
  <div class="welcome-header">
    <h1>Bienvenido al Panel de Administración</h1>
    <p>Selecciona un módulo para comenzar.</p>
  </div>

  <div class="cards-grid">
    <div class="admin-card" [routerLink]="['/panelAdmin/seguridad']">
      <div class="card-icon-wrapper color-seguridad">
        <i class="bi bi-shield-lock"></i>
      </div>
      <h2>Seguridad</h2>
      <p>Gestionar Cuentas</p>
    </div>

    <div class="admin-card" [routerLink]="['/panelAdmin/seguimiento']">
      <div class="card-icon-wrapper color-seguimiento">
        <i class="bi bi-activity"></i>
      </div>
      <h2>Seguimiento</h2>
      <p>Gestionar Reservas</p>
    </div>
  </div>
</div>